Flask==2.2.5
flask-cors==3.0.10
gunicorn==20.1.0

yt-dlp==2023.11.16
ffmpeg-python==0.2.0

pydub==0.25.1
soundfile==0.12.1

python-dotenv==0.19.2
APScheduler==3.9.1
numpy==1.19.5

spleeter==2.3.0
typer==0.3.2
click==7.1.2